{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"vueIndentScriptAndStyle": false,
	"arrowParens": "avoid",
	"singleQuote": true,
	"printWidth": 1024
}