body {
	background-color: rgb(151, 222, 255);
	font-family: 'Josefin Sans', sans-serif !important;
}

.hidden {
	display: none;
}

.headBar {
	position: fixed;
	width: 80%;
	top: 2vh;
	z-index: 99;

	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 4rem;

	background-color: #134470;
	border-radius: 5rem;
}

nav ul li {
	margin-left: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 1.2rem;
	color: #e6eaed;
}

nav ul li a,
nav ul li a:visited {
	text-decoration: none;
	color: #e6eaed;
	/*surpasse le reste :/ */
}

nav ul li a:hover {
	text-decoration: none;
	color: #fe6d73;
}

nav ul li:hover {
	color: #fe6d73;
	cursor: pointer;
}

.img {
	background: url(img/bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	height: 100vh;
	padding-top: 20vh;
	color: #e6eaed;
	background-color: #031a2d;
}

.viewsElement {
	height: 90%;
	padding-left: 2rem;
}

.viewsElement h2 {
	margin-bottom: 4rem;
	font-size: 3rem;
}

#about p {
	width: 55%;
	min-width: 400px;
	font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif !important;
}

h1 {
	color: #fe6d73;
}

.credits {
	width: 60%;
	margin: auto;
}

/*
header {
  width: 100%;
  height: 7%;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  background-color: rgba(195, 213, 234, 0.5);
  box-shadow: 0 0.5rem 1rem rgba(155, 174, 196, 0.5);

  align-items: center;
  margin-bottom: 1rem;

  z-index: 99;
}

#header-image {
  width: 100%;
  height: 90vh;
  max-height: 880px;
  background-image: url("header.jpg");
  margin:0;

  background-repeat: no-repeat;
  background-position-x: center;
}

h1 {
  margin-left: 50px;
}

nav {
  margin-right: 50px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
}



#arrow-up {
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 98;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #c3d5ea;
  border-radius: 0.5rem;
}

#arrow-up:hover {
  background-color: rgb(0, 86, 156);
  color: #fff;
}

footer {
  width: 100%;
  height: 200px;
  background-color: blue;
} */
