body {
	background-color: rgb(151, 222, 255);
	font-family: 'Josefin Sans', sans-serif !important;
}

.hidden {
	display: none;
}

.headBar {
	position: fixed;
	width: 80%;
	top: 2vh;
	z-index: 99;

	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 4rem;

	background-color: #134470;
	border-radius: 5rem;
}

nav ul li {
	margin-left: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 1.2rem;
	color: #e6eaed;
}

nav ul li a,
nav ul li a:visited {
	text-decoration: none;
	color: #e6eaed;
	/*surpasse le reste :/ */
}

nav ul li a:hover {
	text-decoration: none;
	color: #fe6d73;
}

nav ul li:hover {
	color: #fe6d73;
	cursor: pointer;
}

.img {
	background: url(img/bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	height: 100vh;
	padding-top: 20vh;
	color: #e6eaed;
	background-color: #031a2d;
}

.viewsElement {
	height: 90%;
	padding-left: 2rem;
	overflow: auto;
}

.viewsElement h2 {
	margin-bottom: 4rem;
	font-size: 3rem;
}

#about p {
	font-size: 1.2rem;
	width: 55%;
	min-width: 400px;
}

.viewsElement p {
	width: 65%;
	min-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif !important;
}

h1 {
	color: #fe6d73;
}

h3 {
	font-size: 1.5rem !important;
}

.credits {
	width: 60%;
	margin: auto;
}

form {
	width: 55%;
	min-width: 400px;
}

.viewsElement li p:nth-child(2) {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

.viewsElement li p:nth-child(3) {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.viewsElement li p:nth-child(4) {
	font-size: 1.2rem;
}

.viewsElement li {
	margin-bottom: 1.3rem;
	direction: ltr;
}

.colored {
	color: #fe6d73;
}

.viewsElement ul {
	direction: rtl;
	max-height: 75%;
	overflow: auto;
	scrollbar-color: #134470 #031a2d;
	scrollbar-width: thin;
}

.viewsElement::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #031a2d;
}
